:root {
  --color-black: #000000;
  --color-grey-900: #3d3c3f;
  --color-white: #ffffff;
}



@font-face {
  font-family: "Neue Machina";
  src: url(./fonts/PPNeueMachina-InktrapVariable.woff);
}

@font-face{
  font-family: "Universal Sans 306";
  src: url(./fonts/Universal-Sans-Display-306.woff2);
}

@font-face{
  font-family: "Universal Sans 460";
  src: url(./fonts/Universal-Sans-Display-460.woff2);
}

body {
  background: var(--color-black);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Neue Machina", sans-serif;
}