.circle__button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  background-color: var(--color-grey-900);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.circle__button:hover {
  background-color: var(--color-grey-500);
}

.text__button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: "Universal Sans 460", sans-serif;
  padding: 0.3rem 0.7rem;
  border-radius: 1rem;
  background-color: var(--color-grey-900);
  color: var(--color-white);
  transition: all 0.3s ease-in-out;
}

.text__button:hover{
  background-color: var(--color-grey-500);
}

.text__button img{
  width: 0.8rem;
}