nav{
    width: 100%;
  
}

.nav__container{
      margin:1rem;
    display: flex;
    align-items: center;

}



.logo {
    height: 3rem;
    will-change: filter;
    transition: filter 300ms;  
    animation: breathing 2s infinite alternate;
    pointer-events: none;
    user-select: none;
    margin: 0 auto;  
  }