.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overview__container {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-self: stretch; 
  gap: 2rem;
  flex-direction: column;
  margin: 0rem 1rem;
  padding: 4rem;
  border-radius: 32px;
}
