.flag__container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-black);
    padding: 6px 6px 3px 7px;
    border-radius: 4px;
    gap: 8px;
    width: fit-content;
}

.flag__container.campaign{
    background-color: var(--color-green-500) ;
}


.flag__container.flight{
    background-color: var(--color-grey-200) ;
}

.flag__container .icon{
height: 12px;
margin-top: -4px;
}

.flag__container p{
    font-family: 'Neue Machina', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    text-transform: uppercase;
}